# Machine Learning Project 2

In [1]:
import pandas as pd
vocab = pd.read_pickle("twitter-datasets/vocab.pkl")
vocab = pd.DataFrame.from_dict(vocab, orient='index')
cooc = pd.read_pickle("twitter-datasets/cooc.pkl", compression='infer')
cooc = pd.DataFrame.sparse.from_spmatrix(cooc)

In [2]:
pos = pd.read_fwf('twitter-datasets/train_pos_full.txt', sep="\n", header=None)
pos['label']=1
neg = pd.read_fwf('twitter-datasets/train_neg_full.txt', sep="\n", header=None)
neg['label']=-1
all = pos.merge(neg, how='outer')
all

                                                         0  label
0        <user> i dunno justin read my mention or not ....      1
1        because your logic is so dumb , i won't even c...      1
2        " <user> just put casper in a box ! " looved t...      1
3        <user> <user> thanks sir > > don't trip lil ma...      1
4        visiting my brother tmr is the bestest birthda...      1
...                                                    ...    ...
2499995  im so sorry ! <user> & to <user> & <user> u gu...     -1
2499996                i can't find food coloring anywhere     -1
2499997  <user> same here ! ! but tort ! ! wonder why y...     -1
2499998  keyless entry remote fob clicker for 2005 buic...     -1
2499999  <user> yeap . doctor don't know what's wrong w...     -1

[2500000 rows x 2 columns]

In [3]:
import numpy as np
embeddings = np.load("embeddings.npy")
embeddings = pd.DataFrame(embeddings)
embeddings

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-0.032266,0.026527,0.014503,0.010487,0.019316,-0.007176,0.002099,-0.006293,-0.095451,0.038331,0.053009,-0.049019,-0.088559,0.035062,-0.004195,0.012831,0.014078,-0.085818,-0.089286,-0.001732
1,-0.102792,0.018890,0.034451,0.005809,0.024272,-0.011885,-0.008910,0.015640,-0.217139,0.070335,0.082872,-0.142683,-0.202582,0.048622,-0.019952,0.016289,0.062811,-0.177814,-0.196148,-0.013378
2,-0.128476,0.024336,0.065816,0.024649,0.059444,-0.057816,0.001884,-0.000195,-0.253002,0.120277,0.115607,-0.189204,-0.262964,0.093531,0.004244,0.043696,0.064898,-0.217469,-0.203952,-0.003602
3,-0.061683,0.003392,0.004997,-0.006874,0.013926,-0.031911,-0.009438,0.001709,-0.103968,0.038958,0.047259,-0.059895,-0.083922,0.055175,-0.013784,0.000159,0.011664,-0.068911,-0.078921,-0.012886
4,-0.083808,-0.006591,0.063809,0.028506,0.015656,-0.041389,0.003101,0.011336,-0.159438,0.068090,0.071585,-0.096193,-0.154433,0.057504,0.005052,0.020435,0.011705,-0.138551,-0.126355,-0.018583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101294,-0.120561,0.234246,-1.312046,0.668896,-0.430644,-0.436322,0.023180,-0.663930,-0.566414,-1.930225,-0.587263,0.826570,1.966393,-1.351599,-0.321630,0.261448,0.293024,-1.186789,-0.949704,-0.662497
101295,-0.045778,1.161155,0.462649,-0.697513,-1.393921,-1.167900,-0.920000,0.238500,-0.708127,-0.430131,-1.397121,-2.316672,0.573430,1.078170,1.381755,-0.785273,-0.623956,-1.512567,-0.438570,-0.497123
101296,-1.760360,0.067828,0.888079,0.511179,0.946195,-0.743745,-1.242395,0.566690,-1.089730,0.172153,0.891677,-1.027976,-1.119836,0.556251,-0.487926,0.604346,0.399060,0.815936,-1.635541,0.842312
101297,0.131316,0.888225,0.436869,1.219300,0.460090,-0.230365,0.365925,0.120266,1.250423,-0.955474,2.096801,-0.157642,0.281426,2.087499,-0.594072,-0.824243,-0.736733,0.531403,0.719865,0.203994
101298,-1.016572,0.774141,-0.092414,0.190907,-0.514334,-0.687377,-0.797088,0.371562,-0.998863,1.660455,-0.005043,0.370880,-0.842392,0.299142,0.396633,0.831380,1.199466,-1.937756,-1.277073,0.020725

In [4]:
# Take only 10'000 samples for faster computation
from sklearn.utils import resample
pos_ = resample(pos, n_samples=5000, replace=False)
neg_ = resample(neg, n_samples=5000, replace=False)
all_ = pos_.merge(neg_, how='outer')

In [5]:
import numpy as np
embeddings = np.load("embeddings.npy")
embeddings = pd.DataFrame(embeddings)
embeddings.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-0.032266,0.026527,0.014503,0.010487,0.019316,-0.007176,0.002099,-0.006293,-0.095451,0.038331,0.053009,-0.049019,-0.088559,0.035062,-0.004195,0.012831,0.014078,-0.085818,-0.089286,-0.001732
1,-0.102792,0.018890,0.034451,0.005809,0.024272,-0.011885,-0.008910,0.015640,-0.217139,0.070335,0.082872,-0.142683,-0.202582,0.048622,-0.019952,0.016289,0.062811,-0.177814,-0.196148,-0.013378
2,-0.128476,0.024336,0.065816,0.024649,0.059444,-0.057816,0.001884,-0.000195,-0.253002,0.120277,0.115607,-0.189204,-0.262964,0.093531,0.004244,0.043696,0.064898,-0.217469,-0.203952,-0.003602
3,-0.061683,0.003392,0.004997,-0.006874,0.013926,-0.031911,-0.009438,0.001709,-0.103968,0.038958,0.047259,-0.059895,-0.083922,0.055175,-0.013784,0.000159,0.011664,-0.068911,-0.078921,-0.012886
4,-0.083808,-0.006591,0.063809,0.028506,0.015656,-0.041389,0.003101,0.011336,-0.159438,0.068090,0.071585,-0.096193,-0.154433,0.057504,0.005052,0.020435,0.011705,-0.138551,-0.126355,-0.018583

In [6]:
def compute_mean(tweet):
    split_by_words = tweet.split()
    embed_list = []
    for i in range(len(split_by_words)):
        try:
            embed_list.append(  embeddings.loc[vocab.loc[split_by_words[i]][0]].values  )
        except Exception:
            pass
    mean = np.zeros(20) if not embed_list else np.mean(embed_list, axis=0) 
    return mean

In [7]:
all_['mean_embed']= all_.loc[:,0].map(compute_mean)

In [8]:
all_

,0,label,mean_embed
0,me and <user> ... the start of a beautiful fri...,1,"[-0.11606057892739866, -0.008132083061995076, ..."
1,<user> the cab endlessly te ),1,"[0.11048468886168446, 0.2875687473053959, 0.16..."
2,<user> yeah for sure ! and maybe we'll be work...,1,"[-0.24865781563423622, -0.004572632434021956, ..."
3,baby we dnt no scripts for this imma throw a c...,1,"[-0.18860781024543188, -0.1488033101350077, 0...."
4,<user> we assumed as much ...,1,"[0.02174368912795843, 0.257852792492785, 0.101..."
...,...,...,...
9995,but ... rt <user> <user> i've emailed you divo...,-1,"[-0.10449831850276628, 0.071251708438353, 0.34..."
9996,my internet on my phone is so temperamental ju...,-1,"[-0.33028850540709104, -0.023723831188416117, ..."
9997,owww ache . too much sex . this boyfriend busi...,-1,"[-0.1361919856004266, -0.0015293898896008666, ..."
9998,<user> <user> so many emotions ! ! ! it's so s...,-1,"[-0.22368688719370144, 0.06712057685486925, 0...."
9999,<user> yeah .. and people are tweeting mean stuff,-1,"[-0.302382113744698, -0.0955696494943401, 0.20..."

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import load_iris
X = all_.iloc[:, 2].values
y = all_.iloc[:,1].values
X=X.tolist()
y=y.tolist()

In [10]:
clf = LogisticRegression()

In [11]:
clf = clf.fit(X, y)

In [12]:
def extract_tweet(tweet):
    return tweet.split(",", 1)[1]

In [13]:
test = pd.read_fwf('twitter-datasets/test_data.txt', sep="\n", header=None)
test.index = pd.RangeIndex(start=1, stop=10001, step=1)
test = test[0].map(extract_tweet)
test = pd.DataFrame(test)
test

                                                       0
1      sea doo pro sea scooter ( sports with the port...
2      <user> shucks well i work all week so now i ca...
3                i cant stay away from bug thats my baby
4      <user> no ma'am ! ! ! lol im perfectly fine an...
5      whenever i fall asleep watching the tv , i alw...
...                                                  ...
9996              had a nice time w / my friend lastnite
9997                  <user> no it's not ! please stop !
9998   not without my daughter ( dvd two-time oscar (...
9999                <user> have fun in class sweetcheeks
10000  making a r . e . a . l . difference . ( get r ...

[10000 rows x 1 columns]

In [14]:
test['mean_embed']= test.loc[:,0].map(compute_mean)

In [15]:
test['label'] = clf.predict(test['mean_embed'].values.tolist())

In [16]:
test

,0,mean_embed,label
1,sea doo pro sea scooter ( sports with the port...,"[-0.033141846739099444, -0.023284877394986636,...",-1
2,<user> shucks well i work all week so now i ca...,"[-0.24872272674672402, 0.11027380363314927, 0....",-1
3,i cant stay away from bug thats my baby,"[-0.17090634370690683, 0.12310563462261877, 0....",1
4,<user> no ma'am ! ! ! lol im perfectly fine an...,"[-0.1447290855557131, -0.09561660570806178, 0....",-1
5,"whenever i fall asleep watching the tv , i alw...","[-0.19602494437776433, -0.14873335518111835, -...",-1
...,...,...,...
9996,had a nice time w / my friend lastnite,"[-0.3671499812846868, 0.06228319566936299, 0.2...",1
9997,<user> no it's not ! please stop !,"[-0.2601881523263574, 0.056050186949945756, 0....",1
9998,not without my daughter ( dvd two-time oscar (...,"[-0.20592591027480855, 0.00436280796114352, -0...",-1
9999,<user> have fun in class sweetcheeks,"[-0.00462577110145046, 0.274895289852186, 0.22...",1
10000,making a r . e . a . l . difference . ( get r ...,"[-0.21686992585265666, 0.04249507969396218, 0....",-1

In [17]:
final_predictions=test['label']
final_predictions.index = test.index

In [18]:
final_predictions.values

array([-1, -1,  1, ..., -1,  1, -1])

In [19]:
import csv
def create_csv_submission(ids, y_pred, name):
    """
    Creates an output file in csv format for submission to kaggle
    Arguments: ids (event ids associated with each prediction)
               y_pred (predicted class labels)
               name (string name of .csv output file to be created)
    """
    with open(name, 'w', newline='') as csvfile:
        fieldnames = ['Id', 'Prediction']
        writer = csv.DictWriter(csvfile, delimiter=",", fieldnames=fieldnames)
        writer.writeheader()
        for r1, r2 in zip(ids, y_pred):
            writer.writerow({'Id':int(r1),'Prediction':int(r2)})

In [20]:
create_csv_submission(final_predictions.index, final_predictions.values, 'submission.csv')

# BERT